---
import "../styles/global.css";
---

<div class="flex justify-center items-center min-h-screen">
  <div
    class="p-8 w-full max-w-md text-center bg-white bg-center rounded-xl border shadow border-slate-200"
  >
    <h1 class="mb-2 text-2xl font-bold text-center text-slate-800">
      Cancelled purchase
    </h1>
    <p class="mb-6 text-center text-slate-600">
      If you have any questions, please contact us at:
      <a
        href="mailto:support@hoverpane.com"
        class="text-indigo-600 underline hover:text-indigo-700"
        >support@hoverpane.com</a
      >
    </p>
    <style>
      body,
      html {
        font-family: "Inter", system-ui, sans-serif;
      }
    </style>
  </div>
</div>
